<div class="container">
    <div class="row" style="background-image: url('img/club-martina-bg.jpg'); background-repeat: no-repeat; background-size: cover; min-height: 550px;">
        <div class="col s12 m6"></div>
        <div class="col s12 m6">
            <h4>Puntos Lili Cardenas Modas</h4>
            <p>Conocé el nuevo programa de lealtad de Lili Cardenas Modas para que disfrutés de los que más te gusta: COMPRAR</p>
            <h4>Ingresá tu código AQUÍ</h4>
            <div class="row">
                <div class="col s8">
                    <input type="text" name="codigo" placeholder="" ng-model="club.codigo" />
                </div>
                <div class="col s4">
                    <button class="btn waves-effect btn-flat" type="button" ng-click="club.consultar()">
                        <i class="material-icons">search</i>
                    </button>
                </div>
            </div>
            <div ng-show="club.miembro.nombre">
                <h6>{{ club.miembro.nombre }}</h6>
                <h6>Puntos disponibles: <b>{{ club.miembro.puntos }}</b></h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h6><b>¿Qué es Puntos Lili Cardenas Modas?</b></h6>
            <p>Es el programa de lealtad de Lili Cardenas Modas que te permitirá obtener premios o beneficios.</p>
            <h6><b>Beneficios Generales</b></h6>
            <p>Los puntos Lili Cardenas Modas son redimibles por los premios que aparecen en su respectivo catálogo.</p>
            <h6><b>¿Cómo acumularé puntos?</b></h6>
            <p>
                En tu segundo pedido recibirás una credencial personalizada con un código
                que te identificará en el programa de lealtad de Lili Cardenas Modas; inmediatamente
                por esa compra y por las siguientes que realices acumularás puntos.
            </p>
            <h6><b>¿Por qué pierdo el beneficio?</b></h6>
            <p>El beneficio se pierde por no recibir pedidos realizados.</p>
        </div>
    </div>
</div>

